{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <h2>Gráficos Comparativos</h2>
        <div class="row">
            <!-- Primeiro gráfico -->
            <div class="col-md-6">
                <br>
                <h4>Dados Reais de 2021</h4>
                <canvas id="graficoStreams" width="1400" height="1000"></canvas>
            </div>
            <!-- Segundo gráfico -->
            <div class="col-md-6">
                <br>
                <h4>Previsão realizada para 2021</h4>
                <canvas id="graficoComparativo" width="1400" height="1000"></canvas>
            </div>
        </div>
    </div>

    <script>
        const artists = {{ title_actual|tojson }};
        const totalStreams = {{ streams_actual|tojson }};

        const ctx1 = document.getElementById('graficoStreams').getContext('2d');
        const graficoStreams = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: artists,
                datasets: [{
                    label: 'Streams',
                    data: totalStreams,
                    backgroundColor: 'rgba(0, 150, 0, 1)',
                    borderColor: 'rgba(0, 150, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const titleForecast = {{ title_forecast|tojson }};
        const streamsForecast = {{ streams_forecast|tojson }};

        const ctx2 = document.getElementById('graficoComparativo').getContext('2d');
        const graficoComparativo = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: titleForecast,
                datasets: [{
                    label: 'Streams',
                    data: streamsForecast,
                    backgroundColor: 'rgba(100, 50, 150, 1)',
                    borderColor: 'rgba(100, 50, 150, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}

{% block script %}
    {# <script src="../../static/charts/charts.js"></script> #}
{% endblock %}
